@using Microsoft.AspNetCore.Components.Authorization
@using Jira_Time_Manager.Components.Pages

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
                
                <NotAuthorized>
                    <p style="text-align:center; padding: 50px; color: var(--accent-danger);">
                        You do not have permission to view this page.
                    </p>
                </NotAuthorized>

                <Authorizing>
                    <p style="text-align:center; padding: 50px;">Checking credentials...</p>
                </Authorizing>

            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>